<div class="container">
  <div class="row">
    <%= render 'public/recipes/show', recipe: @recipe, recipe_tags: @recipe_tags, recipe_difficulty: @recipe_difficulty %>
    <div class="col-lg-5 col-md-10 col-sm-11">
      <%= render 'layouts/error', object: @recipe_comment %>
      <%= form_with model: @recipe_comment, url: recipe_recipe_comments_path(@recipe), method: :post do |f| %>
        <div class="form-group" id="star">
          <%= f.label :score, 'レビュー' %>
          <%= f.hidden_field :score, id: :review_star, class: 'form-control' %>
          <div id="post_raty"></div>
        </div>
        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#post_raty');
            if (elem == null) return;
      
            elem.innerHTML = ""
            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'recipe_comment[score]',
              half: true,
            };
            raty(elem, opt);
          });
        </script>
        <div class="form-group">
          <%= f.label :comment, 'コメント' %>
          <%= f.text_area :comment, class:"form-control w-100 border border-dark comment_area", autofocus: true, autocomplete: "comment", placeholder: "コメントを入力\n（200文字まで）" %>
        </div>
        <div class="actions d-flex justify-content-between w-100 mt-4">
          <%= f.submit "レビューを投稿する", class:"btn btn-info border border-dark my-3 px-2" %>
          <%= link_to 'レシピへ戻る', recipe_path(@recipe), class: "btn btn-danger border border-dark my-3 px-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>