<div class="container pt-4">
  <h3><span class="page_title col-10 ml-4"><%= @genre.name %>の検索結果　<%= @genre_recipes.count %> 件</span></h3>
  <div class="row">
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex">
      <% @genre_recipes.each do |recipe| %>
        <div class="card recipe_card ml-3 p-3 d-flex">
          <div class="row">
            <div class="col-4">
              <%= link_to admin_recipe_path(recipe) do %>
                <%= image_tag recipe.get_recipe_image(100, 100) %>
              <% end %>
            </div>
            <div class="col-8">
              <strong><%= link_to recipe.title, admin_recipe_path(recipe) %></strong> 💖<span class="text-danger"><%= recipe.favorites.count %></span><br>
              <%= recipe.catch_copy %><br>
              投稿者：<%= recipe.user.name %>さん
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'レシピ一覧に戻る', admin_recipes_path, class: "btn btn-danger border border-dark p-2 mt-3 offset-1" %>
  </div>
</div>