<div class="container pt-4">
  <h3><span class="page_title col-10 ml-4"><%= @genre.name %>の検索結果　<%= @genre_recipes_count %> 件</span></h3>
  <div class="row">
    <%= render 'admin/recipes/search_result', recipes: @genre_recipes %>
    <%= link_to 'レシピ一覧に戻る', admin_recipes_path, class: "btn btn-danger border border-dark p-2 my-3 offset-1" %>
    <div class="d-flex justify-content-center col-12"><%= paginate @genre_recipes %></div>
  </div>
</div>