<div class="container pt-4">
  <h3><span class="page_title col-10 ml-4">レシピ一覧</span></h3>
  <%= form_with url: admin_word_search_path, method: :get do |f| %>
    <div class="form-group form-inline d-flex ml-5 mt-1">
      <%= f.label :word_search_criteria, 'キーワード', class: "word_search_label mr-3" %>
      <%= f.select :word_search_criteria, @word_search_criteria_choice %>　に　
      <%= f.text_field(:word, class:"form-control w-sm-25 mt-2 border border-dark", autofocus: true, autocomplete: "key_word", placeholder: "検索ワードを入力", :required => true) %>　を含む
      <%= f.submit "検索する", class:"btn btn-sm btn-success border border-dark ml-3 mt-2 p-1" %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12 mx-auto my-2 d-flex">
      <%= form_with model: @recipe, url: admin_genre_search_path, method: :get do |f| %>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :genre_id, 'ジャンル', class: "genre_label mr-3" %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, { include_blank: "ジャンルを選択" }, :required => true) %>
          <%= f.submit "検索する", class:"btn btn-sm btn-info border border-dark ml-3 mt-2 p-1" %>
        </div>
      <% end %>
      <%= form_with model: @tag, url: admin_tag_search_path, method: :get do |f| %>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :name, 'タグ', class: "tag_label ml-5 mr-3" %>
          <%= f.text_field(:name, class:"form-control w-sm-50 border border-dark", autofocus: true, autocomplete: "name", placeholder: "タグ名を入力", :required => true) %>
          <%= f.submit "検索する", class:"btn btn-sm btn-secondary border border-dark mt-2 ml-3 p-1" %>
          <sapn class="text-light bg-danger offset-3"><%= flash[:alert] %></sapn>
        </div>
      <% end %>
    </div>
    <div class="col-md-11 col-12 mx-md-auto mx-lg-auto my-2 d-flex flex-wrap">
      <% @recipes.each do |recipe| %>
        <div class="card recipe_card admin_recipe_card ml-2 mt-2 p-3 d-flex">
          <div class="row">
            <div class="col-3">
              <%= link_to admin_recipe_path(recipe) do %>
                <%= image_tag recipe.get_recipe_image(100, 100) %>
              <% end %>
            </div>
            <div class="col-8 offset-1">
              <strong><%= link_to recipe.title, admin_recipe_path(recipe) %></strong>
              💖<span class="text-danger"><%= recipe.favorites.count %></span><span> 👀<%= recipe.view_counts.count %></span>
              <% unless recipe.is_release %>
                <strong><span class="text-danger ml-3">※非公開</span></strong>
              <% end %>
              <br>
              <% case recipe.difficulty %>
                <% when "1" %>
                  難易度：易しい
                <% when "2" %>
                  難易度：やや易しい
                <% when "3" %>
                  難易度：普通
                <% when "4" %>
                  難易度：やや難しい
                <% when "5" %>
                  難易度：難しい
                <% else %>
                  難易度：未設定
              <% end %>
              <br>
              <strong><%= recipe.catch_copy %></strong><br>
              投稿者：<%= recipe.user.name %>さん
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3"><%= paginate @recipes %></div>
</div>
