<div class="container">
  <div class="row">
    <div class="col-md-5 col-12">
      <span id="admin_recipe_show_<%= @recipe.id %>">
        <%= render 'admin/recipes/show', recipe: @recipe, recipe_tags: @recipe_tags, recipe_difficulty: @recipe_difficulty %>
      </span>
    </div>
    <div class="col-md-5 offset-md-1 col-12">
      <span id="admin_recipe_status_<%= @recipe.id %>"><%= render 'admin/recipes/is_release_update', recipe: @recipe %></span>
      <%= link_to 'レシピを見る', admin_recipe_steps_path(@recipe), class:"btn btn-light border border-dark mt-2 mr-2" %>
      <%= link_to 'レビューを見る', admin_recipe_recipe_comments_path(@recipe), class:"btn btn-info border border-dark mt-2 mr-2" %>
      <%= link_to 'レシピ一覧へ戻る', admin_recipes_path, class: "btn btn-secondary border border-dark mt-2" %>
    </div>
  </div>
</div>
