<div class="container pt-4">
  <% if @word_search_criteria == 'title' %>
    <h3><span class="page_title col-10 ml-4">レシピ名に「<%= @word %>」を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% else %>
    <h3><span class="page_title col-10 ml-4">キャッチコピーに<%= @word %>を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex">
      <% @word_search_recipes.each do |recipe| %>
          <div class="card recipe_card ml-3 p-3 d-flex">
            <div class="row">
              <div class="col-4">
                <%= link_to admin_recipe_path(recipe) do %>
                  <%= image_tag recipe.get_recipe_image(100, 100) %>
                <% end %>
              </div>
              <div class="col-8">
                <strong><%= link_to recipe.title, admin_recipe_path(recipe) %></strong>
                <% unless recipe.is_release %>
                  <strong><span class="text-danger ml-3">※非公開</span></strong>
                <% end %><br>
                💖<span class="text-danger"><%= recipe.favorites.count %></span><span> 👀<%= recipe.view_counts.count %></span><br>
                <%= recipe.catch_copy %><br>
                投稿者：<%= recipe.user.name %>さん
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <%= link_to 'レシピ一覧に戻る', admin_recipes_path, class: "btn btn-danger border border-dark p-2 mt-3 offset-1" %>
    <div class="d-flex justify-content-center"><%= paginate @word_search_recipes %></div>
  </div>
</div>