<%= form_with model: recipe do |f| %>
  <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class:"form-control w-50 title_field border border-dark", autofocus: true, autocomplete: "title", placeholder: "レシピ名を入力" %>
  </div>
  <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :catch_copy, 'キャッチコピー' %>
    <%= f.text_area :catch_copy, class:"form-control w-50 catch_copy_area border border-dark", autofocus: true, autocomplete: "catch_copy", placeholder: "キャッチコピーを入力" %>
  </div>
  <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :difficulty, '調理難易度', class: "difficulty_label" %>
    <div class="form-control select_form w-50 border border-0 pl-0">
      <%= f.select(:difficulty, difficulty_choice, { include_blank: "調理難易度を選択" }, :required => true) %>
    </div>
  </div>
  <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :genre_id, 'ジャンル', class: "genre_label" %>
    <div class="form-control select_form w-50 border border-0 pl-0">
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, { include_blank: "ジャンルを選択" }, :required => true) %>
    </div>
  </div>
  <% if f.object.new_record? %>
    <div class="form-group form-inline d-flex justify-content-between">
      <%= f.label :tag_name, 'タグ 　※「,」で区切ると複数設定可能' %>
      <%= f.text_field :tag_name, class:"form-control w-50 tag_field border border-dark", autofocus: true, autocomplete: "tag_name", placeholder: "例）定番,お手軽,お弁当" %>
    </div>
  <% else %>
    <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :tag_name, 'タグ 　※「,」で区切ると複数設定可能' %>
    <%= f.text_field :tag_name, class:"form-control w-50 tag_field border border-dark", value: tag_list, autofocus: true, autocomplete: "tag_name", placeholder: "例）定番,お手軽,お弁当" %>
    </div>
  <% end %>
  <div class="form-group form-inline d-flex justify-content-between">
    <%= f.label :image, '料理画像' %>
    <%= f.file_field :image, accept: "image/*", class: "w-50" %>
  </div>
  <% if f.object.new_record? %>
    <div class="actions d-flex justify-content-around w-100 mt-4">
      <%= f.submit "投稿する", class:"btn btn-primary border border-dark mt-3 px-5 py-2" %>
      <%= link_to '戻る', user_path(current_user), class: "btn btn-sm btn-danger border border-dark mt-3 px-5 py-2", data: { confirm: "入力済の内容は破棄されます。\nよろしいですか？" } %>
    </div>
  <% else %>
    <div class="actions d-flex justify-content-around w-100 mt-4">
      <%= f.submit "変更を保存する", class:"btn btn-sm btn-success border border-dark mt-3 px-3 py-2" %>
      <%= link_to '戻る', recipe_path(recipe), class: "btn btn-sm btn-danger border border-dark mt-3 px-5 py-2", data: { confirm: "入力済の変更は反映されません。\nよろしいですか？" } %>
    </div>
  <% end %>
<% end %>


