
<% new_recipes.each do |recipe| %>
  <div class="card recipe_card ml-3 p-3 d-flex w-50">
    <div class="row">
      <div class="col-4">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.get_recipe_image(100, 100) %>
        <% end %>
      </div>
      <div class="col-8">
        <strong><%= link_to recipe.title, recipe_path(recipe) %></strong> ­Ъњќ<span class="text-danger"><%= recipe.favorites.count %></span><br>
        <%= recipe.catch_copy %><br>
        ТіЋуе┐УђЁ№╝џ<%= recipe.user.name %>сЂЋсѓЊ
      </div>
    </div>
  </div>
<% end %>