<% recipes.each do |recipe| %>
  <% if recipe.is_release %>
    <div class="card recipe_card ml-3 p-3 mb-3 shadow-lg rounded-3 d-flex">
      <div class="row">
        <div class="col-sm-4 col-12">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.get_recipe_image(100, 100) %>
          <% end %>
        </div>
        <div class="col-sm-8 col-12">
          <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br>
          <% case recipe.difficulty %>
            <% when "1" %>
              難易度：易しい
            <% when "2" %>
              難易度：やや易しい
            <% when "3" %>
              難易度：普通
            <% when "4" %>
              難易度：やや難しい
            <% when "5" %>
              難易度：難しい
            <% else %>
              難易度：未設定
          <% end %>
          <span class="text-danger"> 💖<%= recipe.favorites.count %></span><span> 👀<%= recipe.view_counts.count %></span><br>
          <strong><%= recipe.catch_copy %></strong><br>
          投稿者：<%= recipe.user.name %>さん
        </div>
      </div>
    </div>
  <% end %>
<% end %>