<% recipes.each do |recipe| %>
  <% if recipe.is_release %>
    <div class="card recipe_card ml-3 p-3 mb-3 shadow-lg rounded-3 d-flex">
      <div class="row">
        <div class="col-4">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.get_recipe_image(100, 100) %>
          <% end %>
        </div>
        <div class="col-8">
          <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br>
          <span class="text-danger">­Ъњќ<%= recipe.favorites.count %></span><span> ­ЪЉђ<%= recipe.view_counts.count %></span><br>
          <%= recipe.catch_copy %><br>
          ТіЋуе┐УђЁ№╝џ<%= recipe.user.name %>сЂЋсѓЊ
        </div>
      </div>
    </div>
  <% end %>
<% end %>