<div class="col-5">
  <h2><%= recipe.title %></h2>
  <p>
    投稿者：<%= recipe.user.name %>さん
    <span id="favorite_buttons_<%= recipe.id %>"><%= render 'public/favorites/favorite', recipe: recipe %></span><span> 👀<%= recipe.view_counts.count %></span>
  </p>
  <p>難易度：<%= recipe_difficulty %></p>
  <p>ジャンル：<%= recipe.genre.name %></p>
  <p>
    タグ：
    <% recipe_tags.each do |tag| %>
      <% recipe_count = tag.recipes.where(is_release: true).count %>
      <span><%= link_to tag.name + " (#{recipe_count}件)", tag_search_path(name: tag.name) %>　</span>
    <% end %>
  </p>
  <div class= "catch_copy">
    <strong><%= recipe.catch_copy %></strong>
  </div>
  <div class="recipe_image my-3">
    <%= image_tag recipe.get_recipe_image(380, 250) %>
  </div>
</div>