<div class="col-5">
  <h2><%= recipe.title %></h2>
  <p>
    投稿者：<%= recipe.user.name %>さん
    <span id="favorite_buttons_<%= recipe.id %>"><%= render 'public/favorites/favorite', recipe: recipe %></span>
  </p>
  <p>ジャンル：<%= recipe.genre.name %></p>
  <p>
    タグ：
    <% recipe_tags.each do |tag| %>
  <span>
    <%= link_to tag.name + " (#{tag.recipes.count}件)", tag_search_path(name: tag.name) %>　
  </span>
    <% end %>
  </p>
  <div class= "catch_copy">
    <strong><%= recipe.catch_copy %></strong>
  </div>
  <div class="recipe_image mt-3">
    <%= image_tag recipe.get_recipe_image(380, 250) %>
  </div>
</div>