<div class="container pt-4">
  <h3><span class="page_title col-10 ml-4">レシピ編集</span></h3>
  <div class="row">
    <div class="col-md-8 col-10 mx-auto my-5">
      <% if @recipe.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <h6 class="alert-heading">
            <%= @recipe.errors.count %>件のエラーが発生しました
          </h6>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @recipe do |f| %>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "title", placeholder: "レシピ名を入力" %>
        </div>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :catch_copy, 'キャッチコピー' %>
          <%= f.text_area :catch_copy, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "catch_copy", placeholder: "キャッチコピーを入力" %>
        </div>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :image, '料理画像' %>
          <%= f.file_field :image, accept: "image/*", class: "w-50" %>
        </div>
        <div class="actions d-flex justify-content-around w-100 mt-4">
          <%= f.submit "変更を保存する", class:"btn btn-sm btn-success border border-dark w-25 mt-3 px-3 py-2" %>
          <%= link_to '戻る', recipe_path(@recipe), class: "btn btn-sm btn-danger border border-dark w-25 mt-3 px-5 py-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
