<div class="container pt-2">
  <div class="row">
    <div class="col-5">
      <h2><%= @recipe.title %></h2>
      <p>
        投稿者：<%= @recipe.user.name %>さん
        <span id="favorite_buttons_<%= @recipe.id %>"><%= render 'public/favorites/favorite', recipe: @recipe %></span>
      </p>
      <p>ジャンル：<%= @recipe.genre.name %></p>
      <div class= "catch_copy">
        <strong><%= @recipe.catch_copy %></strong>
      </div>
      <div class="recipe_image mt-3">
        <%= image_tag @recipe.get_recipe_image(480, 300) %>
      </div>
    </div>
    <div class="col-5 offset-1">
      <% if @recipe.user == current_user %>
        <%= link_to 'このレシピを編集する', edit_recipe_path(@recipe), class: "btn btn-success border border-dark mr-3 mt-2" %>
        <%= link_to 'このレシピを削除する', recipe_path(@recipe), method: :delete, class: "btn btn-danger border border-dark mt-2", data: { confirm: "このレシピを削除します。\nよろしいですか？" } %>
        <%= link_to '材料の登録へ', new_recipe_recipe_material_path(@recipe), class:"btn btn-primary border border-dark mt-2 mr-3" %>
        <%= link_to '手順の登録へ', new_recipe_recipe_step_path(@recipe), class:"btn btn-info border border-dark mt-2" %>
      <% end %>
    </div>
  </div>
</div>