<div class="container pt-4">
  <% if @word_search_criteria == 'title' %>
    <h3><span class="page_title col-10 ml-4">レシピ名に「<%= @word %>」を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% else %>
    <h3><span class="page_title col-10 ml-4">キャッチコピーに「<%= @word %>」を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% end %>
  <div class="row">
    <div class="col-12 mx-auto my-2 d-flex flex-wrap">
      <% @word_search_recipes.each do |recipe| %>
        <div class="card recipe_card mt-3 ml-3 p-3 d-flex">
          <div class="row">
            <div class="col-4">
              <%= link_to recipe_path(recipe) do %>
                <%= image_tag recipe.get_recipe_image(100, 100) %>
              <% end %>
            </div>
            <div class="col-8">
              <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br>
              <% case recipe.difficulty %>
                <% when "1" %>
                  難易度：易しい
                <% when "2" %>
                  難易度：やや易しい
                <% when "3" %>
                  難易度：普通
                <% when "4" %>
                  難易度：やや難しい
                <% when "5" %>
                  難易度：難しい
                <% else %>
                  難易度：未設定
              <% end %>
              💖<span class="text-danger"><%= recipe.favorites.count %></span><span> 👀<%= recipe.view_counts.count %></span><br>
              <%= recipe.catch_copy %><br>
              投稿者：<%= recipe.user.name %>さん
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'レシピ一覧に戻る', recipes_path, class: "btn btn-danger border border-dark p-2 my-3 offset-1" %>
    <div class="d-flex justify-content-center col-12"><%= paginate @word_search_recipes %></div>
  </div>
</div>