<div class="container pt-4">
  <% if @word_search_criteria == 'title' %>
    <h3><span class="page_title col-10 ml-4">レシピ名に「<%= @word %>」を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% else %>
    <h3><span class="page_title col-10 ml-4">キャッチコピーに「<%= @word %>」を含むレシピの検索結果　<%= @recipe_count %> 件</span></h3>
  <% end %>
  <div class="row">
    <%= render 'public/recipes/search_result', recipes: @word_search_recipes %>
    <%= link_to 'レシピ一覧に戻る', recipes_path, class: "btn btn-danger border border-dark p-2 my-3 offset-1" %>
    <div class="d-flex justify-content-center col-12"><%= paginate @word_search_recipes %></div>
  </div>
</div>