<div class="container pt-2 mx-auto">
  <div class="row">
    <div class="col-md-6 col-11">
      <h4>材料登録</h4>
      <%= render 'layouts/error', object: @recipe_material %>
      <table class="table table-borderless">
        <tr>
          <td>タイトル</td>
          <td><%= @recipe.title %></td>
        </tr>
        <tr>
          <td>キャッチコピー</td>
          <td><%= @recipe.catch_copy %></td>
        </tr>
        <tr>
          <td>難易度</td>
          <td><%= @recipe_difficulty %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @recipe_genre %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td>
            <% @recipe_tags.each do |recipe_tag| %>
              <%= recipe_tag.name %>　
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="2"><%= image_tag @recipe.get_recipe_image(200, 200) %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5 col-11 offset-md-1">
      <%= form_with model: @recipe_material, url: recipe_recipe_materials_path, method: :post do |f| %>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :name, '材料名' %><br />
          <%= f.text_field :name, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "name", placeholder: "素材の名前を入力" %>
        </div>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :quantity, '分量（4人分）' %><br />
          <%= f.text_field :quantity, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "quantity", placeholder: "例）100g　150cc" %>
        </div>
        <div class="actions d-flex justify-content-around w-100 mt-3">
          <%= f.submit "材料追加", class:"btn btn-sm btn-success border border-dark w-25 mt-3 py-2" %>
          <%= link_to '戻る', recipe_path(@recipe), class: "btn btn-sm btn-danger border border-dark w-25 mt-3 py-2" %>
        </div>
      <% end %>
      <table class="table material_table mt-3">
        <thead>
          <tr>
            <th>材料名</th>
            <th>分量（4人分）</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.recipe_materials.each do |recipe_material| %>
          <tr>
            <td><%= recipe_material.name %></td>
            <td><%= recipe_material.quantity %></td>
            <td><%= link_to '削除', recipe_recipe_material_path(@recipe, recipe_material), class: "btn btn-sm btn-danger", method: :delete , data: { confirm: "削除しますか？" } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

