<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="top_introduction">
      <h2>レシピエントへようこそ！</h2><br>
            <h6>
            本サイトは、料理好きの皆さんの為のレシピ紹介サイトです。<br><br>
            ユーザーはサイト内のレシピに自由にコメントやレビューができます。<br><br>
            また、お気に入りのレシピにはいいねをすることができ、人気のレシピを簡単に探せます。<br><br>
            <% unless user_signed_in? %>
              サイト内の機能のご利用にはユーザー登録が必要です。 ※新規登録は <%= link_to 'こちら', new_user_registration_path %><br><br>
              まずは、お気軽にゲストログインにてサイト内の機能をお試しください。 ※ゲストログインは<%= link_to 'こちら', users_guest_sign_in_path, method: :post %>
            <% end %>
            <h6>
      <div class="card w-100">
        <%= image_tag 'top_image.jpg',class: "card-img shadow-lg rounded", size: "800x450" %>
      </div>
      </div>
    <div class="col-12 mt-3 d-flex justify-content-center">
      <h5>－新着レシピ－</h5>
    </div>
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex justify-content-center flex-wrap">
      <%= render 'public/recipes/index', recipes: @new_recipes %>
    </div>
    <div class="col-12 mt-3 d-flex justify-content-center">
      <h5>－注目レシピ－</h5>
    </div>
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex justify-content-center flex-wrap">
      <%= render 'public/recipes/index', recipes: @noticed_recipes %>
    </div>
  </div>
</div>