<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-10 col-11 ml-3">
      <h4 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
      <%= @user.name %> さんとのチャット</h4>
      <div class="chat_errors">
        <%= render "layouts/error", object: @chat %>
      </div>
      <div class="chat_form mt-3">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
          <%= f.text_area :message, class: "chat_area w-50", placeholder: "メッセージを入力\n（100文字まで）" %>
          <%= f.hidden_field :room_id %>
          <div class="chat_submit mt-3">
            <%= f.submit '投稿する', class: 'btn btn-sm btn-info' %>
            <%= link_to '戻る', user_path(@user), class: 'btn btn-sm btn-danger ml-3 px-4' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-sm-10 col-11 ml-3 offset-lg-1 mt-lg-0 mt-3">
      <div id="chat_messages">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
          <div class="my_message_group mb-4">
            <p><%= l chat.created_at %></p>
            <span class="my_message bouder rounded p-1 mb-2"><%= chat.message %></span>
          </div>
          <% else %>
          <div class="opponent_message_group mb-4">
            <p><%= l chat.created_at %></p>
            <span class="opponent_message bg-light bouder rounded p-1 mb-2"><%= chat.message %></span>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center"><%= paginate @chats %></div>
    </div>
  </div>
</div>