<div class="container mx-auto">
  <h4>調理手順登録</h4>
  <%= render 'layouts/error', object: @recipe_step %>
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-11 mt-3">
      <%= form_with model: @recipe_step, url: recipe_recipe_steps_path, method: :post do |f| %>
        <div class="form-group form-inline d-flex">
          <%= f.label :step, '手順番号', class: "mr-5" %>
          <%= f.select(:step, 1..20, { include_blank: "手順番号選択" }, class: "form-control d-inline-block w-auto", :required => true) %>
        </div>
        <div class="form-group form-inline d-flex">
          <%= f.label :explanation, '作業内容', class: "mr-5" %>
          <%= f.text_area :explanation, class:"form-control w-50 border border-dark explanation_area", autocomplete: "explanation", placeholder: "作業内容を入力" %>
        </div>
        <div class="form-group form-inline d-flex">
          <%= f.label :image, '画像', class: "mr-5" %>
          <%= f.file_field :image, accept: "image/*", class: "w-75" %>
        </div>
        <div class="actions d-flex justify-content-around w-100 mt-3">
          <%= f.submit "手順を追加する", class:"btn btn-sm btn-success border border-dark mt-3 mb-3 px-3 py-2" %>
          <%= link_to '戻る', recipe_path(@recipe), class: "btn btn-sm btn-danger border border-dark mt-3 mb-3 px-5 py-2" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-10 col-sm-11 d-flex flex-wrap mb-3">
      <%= render 'index', recipe_steps: @recipe_steps, delete_button: @delete_button %>
    </div>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @recipe_steps %></div>
</div>
