<div class="container pt-4">
  <% if @tag_search %>
    <h3><span class="page_title col-10 ml-4">「<%= @tag.name %>」のタグが付いたレシピ　<%= @recipe_count %> 件</span></h3>
  <% else %>
    <h3><span class="page_title col-10 ml-4">「<%= @tag %>」のタグが付いたレシピ　<%= @recipe_count %> 件</span></h3>
  <% end %>
  <div class="row">
    <% if @tag_search %>
      <%= render 'public/recipes/search_result', recipes: @tag_recipes %>
    <% end %>
      <%= link_to 'レシピ一覧に戻る', recipes_path, class: "btn btn-danger border border-dark p-2 my-3 offset-1" %>
    <% if @tag_search %>
      <div class="d-flex justify-content-center col-12"><%= paginate @tag_recipes %></div>
    <% end %>
  </div>
</div>