<div class="container pt-4">
  <div class="review_title d-flex flex-wrap">
    <h3><span class="page_title col-10 ml-4"><strong><%= @recipe.title %></strong>　のレビュー</span><span>（全<%= @recipe.recipe_comments.count %>件）</span></h3>
      <%= form_with url: admin_recipe_recipe_comments_path(@recipe), method: :get do |f| %>
      <div class="form-group form-inline d-flex justify-content-between ml-3">
        <%= f.select :sort, @choices %>
        <%= f.submit "並び変える", class:"btn btn-sm btn-info border border-dark ml-2" %>
        <%= link_to 'レシピへ戻る', admin_recipe_path(@recipe), class:"btn btn-danger border border-dark ml-2" %>
      </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex flex-wrap">
      <% @recipe_comments.each do |recipe_comment| %>
        <div class="comment_card mr-3 mt-3">
          <%= link_to admin_recipe_recipe_comment_path(@recipe, recipe_comment), class: "recipe_comment_link" do %>
            <div class="card recipe_card p-3 d-flex w-100 text-dark">
              <span><%= l recipe_comment.created_at %>　<%= recipe_comment.user.name %>さん</span>
              <div class="d-flex">
                <div id="star_<%= recipe_comment.id %>"></div>
                <% unless recipe_comment.is_release %>
                  <span class="text-danger text-lg ml-2"><strong>※非公開</strong></span>
                <% end %>
              </div>
              <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star_<%= recipe_comment.id %>');
                if (elem == null) return;

                elem.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: "<%= recipe_comment.score %>",
                  readOnly: true,
                  half: true,
                };
                raty(elem, opt);
              });
              </script>
              <p><%= recipe_comment.comment %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
