<%= flash[:user_relation] %>
<table class="table table-borderless">
  <% if user != current_user %>
    <tr>
    <% unless user.followed_by?(current_user) %>
      <th></th>
      <td><%= link_to 'フォローする', user_user_relationships_path(user), class:"btn btn-sm btn-success border border-dark w-50 mx-auto", method: :post, remote: true %></td>
    <% else %>
      <th class="text-danger"><%= "フォロー中" %></th>
      <td><%= link_to 'フォローを外す', user_user_relationships_path(user), class:"btn btn-sm btn-danger border border-dark w-50 mx-auto", method: :delete, remote: true %></td>
    <% end %>
    </tr>
  <% end %>
  <tr>
      <th>ユーザー名</th>
      <td><%= user.name %></td>
  </tr>
  <% if user == current_user %>
    <tr>
        <th>メールアドレス</th>
        <td><%= user.email %></td>
    </tr>
  <% end %>
  <tr>
      <th>投稿レシピ数</th>
      <td><%= user.recipes.where(is_release: true).count %></td>
  </tr>
  <tr>
      <th>フォロー数</th>
      <td><%= user.followers.count %></td>
  </tr>
  <tr>
      <th>フォロワー数</th>
      <td><%= user.followeds.count %></td>
  </tr>
</table>

