<div class="container pt-4">
  <h4><span class="page_title col-10 ml-4">会員情報編集</span></h4>
  <div class="row">
    <div class="col-md-8 col-10 mx-auto my-5">

      <%= form_with model: @user do |f| %>
        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :name, 'ユーザーネーム' %><br />
          <%= f.text_field :name, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "name", placeholder: "TestUser" %>
        </div>

        <div class="form-group form-inline d-flex justify-content-between">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, class:"form-control w-50 border border-dark", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>
      
        <div class="actions d-flex justify-content-center w-100 mt-5">
          <%= f.submit "変更内容を保存", class:"btn btn-success border border-dark w-50 mt-3 px-5 py-2" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
