<div class="container pt-1">
  <div class="users_title_group d-flex flex-wrap">
    <h3><span class="page_title col-10 ml-4">会員一覧</span></h3>
    <%= form_with url: users_path, method: :get do |f| %>
      <div class="form-group form-inline d-flex justify-content-between ml-3">
        <%= f.label 'ユーザーを並べ替え', class: "tag_label mr-3" %>
        <%= f.select(:criteria, @criteria_choice, { include_blank: "絞り込み基準を選択" }, :required => true) %>
        <%= f.submit "並べ替える", class:"btn btn-sm btn-success border border-dark ml-3 p-1" %>
        <% if @filtered %>
          <%= link_to '表示をリセット', users_path, class:"btn btn-sm btn-danger border border-dark ml-2" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= flash.now[:filter_result] %>
  <div class="row">
    <div class="col-12 mx-auto my-2 d-flex">
      <table class="table mt-2">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>投稿レシピ数</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if user.email != "guest@example.com" && user.is_active %>
              <tr>
                <td><%= link_to user.name, user_path(user) %></td>
                <td>
                  <%= user.recipes.where(is_release: true).count %>
                </td>
                <td><%= user.followers.count %></td>
                <td><%= user.followeds.count %></td>
                <td class="text-danger">
                  <% if user.followed_by?(current_user) %>
                    <strong><%= "フォロー中" %></strong>
                  <% end %>
                </td>
                <td>
                  <%= link_to '詳細へ', user_path(user), class:"btn btn-sm btn-info border border-dark mx-auto" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @users %></div>
</div>
