<div class="container pt-1">
  <div class="row d-flex flex-wrap">
    <div class="col-lg-6 col-md-10 mx-md-auto col-sm-11 mx-sm-auto col-12">
      <% if @user == current_user %>
        <h3><span class="page_title ml-4">сЃъсѓцсЃџсЃ╝сѓИ</span></h3>
      <% else %>
        <h3><span class="page_title ml-4">С╝џтЊАТЃЁта▒</span></h3>
      <% end %>
      <span id="user_status_<%= @user.id %>"><%= render 'public/users/show', user: @user %></span>
      <%= link_to 'С╝џтЊАСИђУдДсЂИТѕ╗сѓІ', users_path, class: "btn btn-secondary border border-dark" %>
      <% if @user == current_user %>
        <div class="my_page_button_group d-flex mt-3">
          <%= link_to 'Тќ░УдЈТіЋуе┐', new_recipe_path, class: "btn btn-info border border-dark" %>
          <%= link_to 'ТЃЁта▒уиежЏєсЂИ', edit_user_path(current_user), class: "btn btn-success border border-dark offset-1" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-5 col-md-10 mx-md-auto mt-md-3 col-sm-11 mt-sm-3 mt-3 mx-sm-auto col-12 d-flex justify-content-center flex-wrap">
      <h4>№╝ЇТіЋуе┐сЃгсѓисЃћ№╝Ї</h4>
      <% @user_recipes.each do |recipe| %>
        <% if recipe.is_release %>
          <div class="card recipe_card mb-3 p-3 d-flex w-100">
            <div class="row">
              <div class="col-4">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag recipe.get_recipe_image(100, 100) %>
                <% end %>
              </div>
              <div class="col-8">
                <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br>
                ­Ъњќ<span class="text-danger"><%= recipe.favorites.count %></span><span> ­ЪЉђ<%= recipe.view_counts.count %></span><br>
                <strong><%= recipe.catch_copy %></strong><br>
                ТіЋуе┐УђЁ№╝џ<%= recipe.user.name %>сЂЋсѓЊ
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="mx-auto"><%= paginate @user_recipes %></div>
    </div>
  </div>
</div>
