<div class="container header_group py-3">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 d-flex justify-content-between">
      <% if user_signed_in? %>
        <%= "ようこそ #{current_user.name} さん" %>
        <%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-sm btn-danger', method: :delete %>
      <% elsif admin_signed_in? %>
        <strong>管理者用　　</strong>
        <%= link_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-sm btn-dark', method: :delete %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-sm btn-success' %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm ml-3", method: :post %>
      <% end %>
    </div>
  </div>
</div>


  