<div class="container-fluid header_group py-3">
  <div class="row">
    <div class="col-md-6 col-12 d-flex flex-wrap justify-content-around py-1">
        <span class="header_">
          <%= image_tag 'logo_left.png', size: '70x70' %>
          <%= link_to root_path do %>
            <%= image_tag 'logo1.png', size: '200x70' %>
          <% end %>
          <%= image_tag 'logo_right.png', size: '70x70' %>
        </span>
        <% if user_signed_in? %>
          <div class="welcome py-4">
            <%= "ようこそ #{current_user.name} さん" %>
          </div>
        <% elsif admin_signed_in? %>
          <strong class="text-light text-center admin_sign_in bg-danger w-25 mt-4 p-1">管理者用</strong>
        <% end %>
    </div>
    <div class="col-md-6 col-12 header-button-group d-flex flex-wrap justify-content-around py-4">
      <%#= link_to 'トップページ', root_path, class: 'btn btn-sm btn-light header_button' %>
      <% if user_signed_in? %>
        <% unless current_user.email == "guest@example.com" %>
          <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-sm btn-primary header_button' %>
          <%= link_to '会員一覧', users_path, class: 'btn btn-sm btn-light header_button' %>
        <% end %>
        <%= link_to '投稿一覧', recipes_path, class: 'btn btn-sm btn-info header_button' %>
        <%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-sm btn-danger header_button', method: :delete %>
      <% elsif admin_signed_in? %>
        <%= link_to '投稿一覧', admin_recipes_path, class: 'btn btn-sm btn-success header_button' %>
        <%= link_to '会員一覧', admin_path, class: 'btn btn-sm btn-info header_button' %>
        <%= link_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-sm btn-dark header_button', method: :delete %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-sm btn-success header_button' %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary btn-sm header_button", method: :post %>
      <% end %>
    </div>
  </div>
</div>



  